.GridWithText .gridItem {
  margin: 4rem !important;
  width: 105rem !important;
  height: 90rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.GridWithText .gridThumbnail {
  width: 45rem !important;
  height: 45rem !important;
}

.GridWithText .jpgThumb {
  border-radius: 5rem;
  margin-bottom: 5rem;
}

.GridWithText .gridItemText {
  width: 95rem;
  font-size: 12rem;
  max-height: 4em;
  white-space: normal;
  overflow: hidden;
}

.GridNoText .gridItem {
  margin: 4rem !important;
  width: 75rem !important;
  height: 75rem !important;
  width: 105rem !important;
  height: 90rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.GridNoText .gridThumbnail {
  width: 70rem !important;
  height: 70rem !important;
  width: 90rem !important;
  height: 90rem !important;
}

.GridNoText .jpgThumb {
  border-radius: 5rem;
  margin-bottom: 5rem;
}

.GridNoText .gridItemText {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.15s;
  //transition-delay: 0.25s;
  transition-timing-function: ease-in-out;
  position: absolute;
  width: 95rem !important;
  bottom: 5rem;
  font-size: 12rem;
  padding: 3rem;
  white-space: normal;
  overflow: hidden;
  background-color: rgba(50, 50, 50, 0.75);
  backdrop-filter: var(--panelBlur);
  color: var(--textColorDim);
  border-bottom-left-radius: var(--panelRadius);
  border-bottom-right-radius: var(--panelRadius);
  border-top-left-radius: var(--panelRadius);
  border-top-right-radius: var(--panelRadius);
}

.GridNoText .gridItem:hover .gridItemText {
  opacity: 1;
}

.gridItemText p {
  text-align: center;
}

.favoriteIcon {
  display: none;
  background: none;
  width: 1.75em;
  height: 1.75em;
  z-index: 99;
  position: absolute;
  top: 0.125em;
  left: 0.125em;
}

.favoriteIcon.favorited {
  display: flex;
}

.favoriteIcon img {
  width: 1.15em;
  height: 1.15em;
}

.gridItem:hover .favoriteIcon {
  display: flex;
}

.rightSideContainer {
  position: absolute;
  top: 0.375em;
  right: 0.375em;
  display: flex;
  flex-direction: column;
}

.dlcThumbnail {
  width: 1.15em;
  height: 1.15em;
  margin-bottom: 0.375em;
}

.categoryThumbnail {
  width: 1.15em;
  height: 1.15em;
  margin-bottom: 0.375em;
}
