.GridWithText .gridItem {
  margin: 4rem !important;
  width: 105rem !important;
  height: 90rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.GridWithText .gridThumbnail {
  width: 45rem !important;
  height: 45rem !important;
}

.GridWithText .jpgThumb {
  border-radius: 5rem;
  margin-bottom: 5rem;
}

.GridWithText .gridItemText {
  width: 95rem;
  font-size: 12rem;
  max-height: 4em;
  white-space: normal;
  overflow: hidden;
}

.GridNoText .gridItem {
  margin: 4rem !important;
  width: 105rem !important;
  height: 90rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.GridNoText .gridThumbnail {
  width: 70rem !important;
  height: 70rem !important;
  width: 90rem !important;
  height: 90rem !important;
}

.GridNoText .jpgThumb {
  border-radius: 5rem;
  margin-bottom: 5rem;
}

.GridNoText .gridItemText {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.15s;
  //transition-delay: 0.25s;
  transition-timing-function: ease-in-out;
  position: absolute;
  width: 95rem !important;
  bottom: 5rem;
  font-size: 12rem;
  padding: 3rem;
  white-space: normal;
  overflow: hidden;
  background-color: rgba(50, 50, 50, 0.75);
  backdrop-filter: var(--panelBlur);
  color: var(--textColorDim);
  border-bottom-left-radius: var(--panelRadius);
  border-bottom-right-radius: var(--panelRadius);
  border-top-left-radius: var(--panelRadius);
  border-top-right-radius: var(--panelRadius);
}

.GridNoText .gridItem:hover .gridItemText {
  opacity: 1;
}

.ListSimple {
  padding-right: 10rem;
}

.ListSimple .gridItem {
  margin: 1.25rem !important;
  width: 100% !important;
  height: 20rem !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
}

.ListSimple .gridThumbnail {
  width: 15rem !important;
  height: 15rem !important;
  margin-right: 10rem;
}

.ListSimple .jpgThumb {
  border-radius: 2.5rem;
  margin-bottom: 2.5rem;
}

.ListSimple .gridItemText {
  font-size: 12rem;
  overflow: hidden;
}

.favoriteIcon {
  background: none;
  width: 1.75em;
  height: 1.75em;
  z-index: 99;
}

.GridNoText .favoriteIcon,
.GridWithText .favoriteIcon {
  display: none;
  position: absolute;
  top: 0.125em;
  left: 0.125em;
}

.ListSimple .favoriteIcon {
  opacity: 0;
}

.GridNoText .gridItem:hover .favoriteIcon,
.GridWithText .gridItem:hover .favoriteIcon,
.GridNoText .gridItem .favoriteIcon.favorited,
.GridWithText .gridItem .favoriteIcon.favorited {
  display: flex;
}

.ListSimple .gridItem:hover .favoriteIcon,
.ListSimple .favoriteIcon.favorited {
  opacity: 1;
}

.favoriteIcon img {
  width: 1.15em;
  height: 1.15em;
}

.ListSimple .favoriteIcon img {
  width: 15rem;
  height: 15rem;
}

.gridItem:hover .favoriteIcon {
  display: flex;
}

.GridWithText .rightSideContainer,
.GridNoText .rightSideContainer {
  position: absolute;
  top: 0.375em;
  right: 0.375em;
  display: flex;
  flex-direction: column;
}

.GridWithText .rightSideContainer > img,
.GridNoText .rightSideContainer > img {
  width: 1.15em;
  height: 1.15em;
  margin-bottom: 0.375em;
}

.ListSimple .rightSideContainer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.ListSimple .rightSideContainer > img {
  width: 1em;
  height: 1em;
  margin-right: 0.375em;
}

.GridWithText .gridItemText p,
.GridNoText .gridItemText p {
  text-align: center;
}
