.pickerToolbarIcon {
  pointer-events: auto;
  width: 46rem;
  height: 46rem;
  position: absolute;
  right: 65rem;
  bottom: 125rem;
  z-index: 999;
}

.pickerToolbarIcon img {
  width: 32rem;
  height: 32rem;
}
